<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PredictorMVVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PredictorMVVM.Properties.Settings>
            <setting name="PredictionsPath" serializeAs="String">
                <value>\Data\Predictions.json</value>
            </setting>
            <setting name="PBMessagesPath" serializeAs="String">
                <value>\Data\PBMessages.json</value>
            </setting>
        </PredictorMVVM.Properties.Settings>
    </userSettings>
</configuration>